<div id="<%= dom_id quest %>">
  <p>
    <strong>Title:</strong>
    <%= quest.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quest.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= quest.completed %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= quest.author %>
  </p>

</div>
